/datasets
/**/processed_data/
/**/simplified_env/
/**/unprocessed/
/**/uploads/
/venv/
/**/node_modules/
.DS_Store


output.wav
**/reflection/
**/test/
**/build/
**/dist/
**/electron-builder.json
**/electron/
**/src/config.js
**/webpack.config.js
utils/voice_assistant.py

**/__pycache__/**
yarn.lock
npm.lock
.vscode/

.env